{% extends '@ancestors/base_wo_nav.html.twig' %}

{% block body %}
        <div id="wrapper">
            <div id="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
            </div>
        </div>
{% endblock %}
